<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aloqa uchun</title>
</head>
<body>
    <a href="{% url 'sayt' %}">Bosh sahifa</a> /
    <a href="{% url 'news uzb' %}">Yangiliklar</a> /
    <a href="{% url 'tel' %}">Aloqa</a> /
    <a href="{% url 'sport' %}">Sport</a>/
    <a href="{% url 'texno'%}">Texnologiya yangiliklari</a>/
    <a href="{% url 'jaxon'%}">Jaxon yangiliklari</a>
  <h1>Biz bilan ulanish uchun tel:</h1>
  <P>Ramizjon Ziyodullayev tel:913142719</P>

</body>
</html>
