<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bosh sahifa</title>
</head>
<body>
    <a href="{% url 'sayt' %}">Bosh sahifa</a> /
    <a href="{% url 'news uzb' %}">Yangiliklar</a> /
    <a href="{% url 'tel' %}">Aloqa</a> /
    <a href="{% url 'sport' %}">Sport</a>/
    <a href="{% url 'texno'%}">Texnologiya yangiliklari</a>/
    <a href="{% url 'jaxon'%}">Jaxon yangiliklari</a>
    <h1>Assalomu aeykum</h1>
    <p>saytimizga xush kelibsiz siz bosh saxifadasiz</p>


</body>
</html>





