<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jaxon yangiliklari</title>
</head>
<body>
    <a href="{% url 'sayt' %}">Bosh sahifa</a> /
    <a href="{% url 'news uzb' %}">Yangiliklar</a> /
    <a href="{% url 'tel' %}">Aloqa</a> /
    <a href="{% url 'sport' %}">Sport</a>/
    <a href="{% url 'texno'%}">Texnologiya yangiliklari</a>/
    <a href="{% url 'jaxon' %}">Jaxon yangiliklari</a>
  <h1>Jaxon yangiliklari</h1>
  <p>Зеленский қўмондонлар билан Залужнийни четлаб ўтган ҳолда гаплашмоқда ва йиғилишларда унга пичинг қилмоқда</p>

</body>
</html>
