<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yangiliklar</title>
</head>
<body>
    <a href="{% url 'sayt' %}">Bosh sahifa</a> /
    <a href="{% url 'news uzb' %}">Yangiliklar</a> /
    <a href="{% url 'tel' %}">Aloqa</a> /
    <a href="{% url 'sport' %}">Sport</a>/
    <a href="{% url 'texno'%}">Texnologiya yangiliklari</a>/
    <a href="{% url 'jaxon'%}">Jaxon yangiliklari</a>
  <h1>Yangiliklar sahifasi</h1>
  <p>bugun o'zini kocha bolasi deb tanitganlar yani baxti tashkenski,murad buxarski,polatuzb laqablilar ushlanib ularni so'ro'qqa olishdi</p>

</body>
</html>
