<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sport yangiliklari</title>
</head>
<body>
    <a href="{% url 'sayt' %}">Bosh sahifa</a> /
    <a href="{% url 'news uzb' %}">Yangiliklar</a> /
    <a href="{% url 'tel' %}">Aloqa</a> /
    <a href="{% url 'sport' %}">Sport</a>/
    <a href="{% url 'texno'%}">Texnologiya yangiliklari</a>/
    <a href="{% url 'jaxon'%}">Jaxon yangiliklari</a>
  <h1>Assalomu aleykum bu yerda sport yangiliklari bor</h1>
  <p>Кучли рақибларга қарши кетма-кет ўйнашига тўғри келаётган «Сити» «Тоттенҳэм» билан ўйинда дуранглар сериясини давом эттирди. Ҳафта ўртасида «Лейпциг»га қарши ўйинда биринчи бўлимни 0:2 ҳисобида бой берган Гвардиола жамоаси бу сафар ҳам биринчи бўлиб гол ўтказиб юборди.</p>
</body>
</html>

