<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Texnologiya yangiliklar</title>
</head>
<body>
    <a href="{% url 'sayt' %}">Bosh sahifa</a> /
    <a href="{% url 'news uzb' %}">Yangiliklar</a> /
    <a href="{% url 'tel' %}">Aloqa</a> /
    <a href="{% url 'sport' %}">Sport</a>/
    <a href="{% url 'texno'%}">Texnologiya yangiliklari</a>/
    <a href="{% url 'jaxon'%}">Jaxon yangiliklari</a>
    <h1>Bu saxifada tenxnologiyaga oid yangiliklar bor</h1>
    <p>Apple Lightning ўрнига USB-C туйнугига (порт) эга илк айфонларини намойиш этди. iPhone 15 Pro титанли корпусга, iPhone 15 — пуштиранг ва «динамик орол»га эга бўлган. Янги iPhone смартфонларида янги тугма, каттароқ ўлчамдаги экран, яхшиланган камера ва процессор ҳам бўлади.</p>
</body>
</html>
